dtdgenerator/data/xmlspy.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2011 sp1 (http://www.altova.com)-->
<!ELEMENT Type (#PCDATA)>
<!ELEMENT TurnOver (#PCDATA)>
<!ELEMENT TotalEmployees (#PCDATA)>
<!ELEMENT StreetName (#PCDATA)>
<!ELEMENT Salary (#PCDATA)>
<!ELEMENT Project ((Name, Type, Client))>
<!ATTLIST Project
    id (12 | 11) #REQUIRED
>
<!ELEMENT Organisation ((Name, TotalEmployees, TurnOver, Type, Emp+))>
<!ELEMENT Name (#PCDATA)>
<!ELEMENT Id (#PCDATA)>
<!ELEMENT Emp ((Id, Salary, Address, Project*))>
<!ATTLIST Emp
    Age CDATA #FIXED "23"
    Name CDATA #FIXED "Deba"
>
<!ELEMENT Country (#PCDATA)>
<!ELEMENT Client ((Address))>
<!ATTLIST Client
    id CDATA #FIXED "a1"
>
<!ELEMENT City (#PCDATA)>
<!ELEMENT Address ((City, Country, StreetName))>
<!ATTLIST Address
    Type (Present | Permanent) #REQUIRED
>
